.blog-item-1{
    display: flex;
    width: 400px;
    /* gap: 20px; */
    margin-top: 804px;
    flex-direction: column;
    border-top: 1px solid #e9e8e8  ;
}
.blog-item{
    display: flex;
    width: 400px;
    /* gap: 20px; */
    flex-direction: column;
   
}
.blog-container{
    border-top: 1px solid #e9e8e8  ;
    border-bottom: 1px solid #e9e8e8  ;
    display: flex;
    flex-direction: column;
}
h5{
    margin-bottom: 15px;
}
.month{
  margin-top: 25px;  
}
p{
    margin-top: 5px;
    margin-bottom: 3px;
    color: #C6C4C3;
    font-size: 10px;
    opacity: 40%;
}
.boshqacha{
    color: black;
    opacity: 100%;
    /* font-size: 10px; */
}
.blog-left{
    margin-top: 7px;
    margin-left: 200px;

}
