.big{
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
.talks-img {
    border-radius: 0;
    width: 150px;
    height: 90px;
}
.takls-item{
    display: flex;
    width: 400px;
    gap: 20px;
    flex-direction: row;
    border-top: 1px solid #e9e8e8  ;
}
.takls-item-1{
    display: flex;
    width: 400px;
    gap: 20px;
    margin-top: 533px;
    flex-direction: row;
    border-top: 1px solid #e9e8e8  ;
}
.talks-texts{
    /* display: flex;
    flex-direction: column; */
    margin-left: 15px;
}
.talks-text2{
    color: black;
    font-size: 12px;
    opacity: 100%;
}
.left ul li{
    margin-top: 7px;
    margin-left: 200px;
}
.right p{
    width: 300px;
    position: fixed;
    top: 220px;
    left: 700px;
    opacity: 100%;
}
.right h4{
    position: fixed;
    top: 200px;
    left: 700px;
    opacity: 100%;
}
span{
    color: blue;
}