.category{
    width: 700px;
    margin-top: 150px;
    margin-left: 200px;
    
}
.up{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.past {
    margin-left: 30px;
}
p{
    /* width: auto; */
    
    color: black;
}
img{
    width: 189px;
    border-radius: 100%;
}
h1{
    font-size: 39px;
    font-weight: bolder;
}
.icons {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    gap: 9px;
    margin-bottom: 20px;
    margin-top: 22px;
}
.p-text {
    color: #000;
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.btns{
    width: 500px;

}
.btns .one-btn{
    width: 120px;
    border-radius: 4px;
    background-color: blue;
    color: #fff;
    font-size: 15px;
    height: 36px;
    
}
.btns .two-btn {
    background-color: white;
    color: blue;
    border: 1px solid;
    height: 36px;
    margin-left: 25px;
    font-size: 15px;
    width: 120px;
    border-radius: 4px;
}
.btns button :active {
    background-color:  #201E1D;
}